@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model UserEditDto

<h2>Edit your profile</h2>

@using (@Html.BeginForm("Edit", "Account", FormMethod.Post, new { htmlAttributes = new { @class = "form-group" } }))
{
<div class="form-group">
    <label asp-for="@Model.Password" >Enter new password</label>
    <input type="password" asp-for="@Model.Password" class="form-control"/>
    @*@Html.LabelFor(m => m.Password, "Enter new password", new { htmlAttributes = new { @class = "form-group" } })
    @Html.PasswordFor(m => m.Password, new { htmlAttributes = new { @class = "form-group" } })*@
    @Html.ValidationMessageFor(m => m.Password)
</div>

<div class="form-group">
    <label asp-for="@Model.ConfirmPassword" >Confirm new password</label>
    <input type="text" asp-for="@Model.ConfirmPassword" class="form-control"/>
    @*@Html.LabelFor(m => m.ConfirmPassword, "Confirm new password", new { htmlAttributes = new { @class = "form-group" } })
    @Html.PasswordFor(m => m.ConfirmPassword, new { htmlAttributes = new { @class = "form-group" } })*@
    @Html.ValidationMessageFor(m => m.ConfirmPassword)
</div>

<div class="form-group">
    <label asp-for="@Model.OldPassword">Enter your current password</label>
    <input type="text" asp-for="@Model.OldPassword" class="form-control"/>
    @*@Html.LabelFor(m => m.OldPassword, "Enter your current password", new { htmlAttributes = new { @class = "form-group" } })
    @Html.PasswordFor(m => m.OldPassword, new { htmlAttributes = new { @class = "form-group" } })*@
</div>

    <button type="submit" class="btn btn-primary">Update</button>
 }
