
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model UserRegisterDto

<div>
    <h1>Register</h1>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { htmlAttributes = new { @class = "form-group" } }))
    {
        <div class="form-group">
            <label asp-for="@Model.Name">Name</label>
            <input type="text" class="form-control" asp-for="@Model.Name" id="exampleInputName" aria-describedby="emailHelp" placeholder="Enter your name">
            @Html.ValidationMessageFor(m=>m.Name)
        </div>
        <div class="form-group">
            <label asp-for="@Model.Email">Email address</label>
            <input type="email" class="form-control" asp-for="@Model.Email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div class="form-group">
            <label asp-for="@Model.Password" for="exampleInputPassword1">Password</label>
            <input type="password" asp-for="@Model.Password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="form-group">
            <label asp-for="@Model.ConfirmPassword" for="exampleInputPassword2">Confirm password</label>
            <input type="password" asp-for="@Model.ConfirmPassword" class="form-control" id="exampleInputPassword2" placeholder="Password">
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
        <button type="submit" class="btn btn-primary">register</button>
    }

</div>
